<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/css/index.css" />
    </head>
    <body>
        <div id="global-cube-container">
            <div id="white-green-orange" class="corner-block">
                <div class="face" style="--rx:90;--ry:0;--rz:0;--x:0;--y:0;--z:0;--color:lime;"></div>
                <div class="face" style="--rx:0;--ry:90;--rz:0;--x:0;--y:0;--z:0;--color:white;"></div>
                <div class="face" style="--rx:0;--ry:0;--rz:90;--x:0;--y:0;--z:0;--color:orange;"></div>
            </div>
        </div>
        <script src="../assets/js/index.js"></script>
    </body>
</html>