<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/css/index.css" />
    </head>
    <body>
        <div id="global-cube-container" style="--x:-38;--y:62;--z:0;"></div>
        <p>filter which face is shown</p>
        <input type="button" value="none" onclick="cube.unfocus()"><br>
        <input type="button" value="front" onclick="cube.set_focus(0)">
        <input type="button" value="back" onclick="cube.set_focus(1)"><br>
        <input type="button" value="left" onclick="cube.set_focus(2)">
        <input type="button" value="right" onclick="cube.set_focus(3)"><br>
        <input type="button" value="top" onclick="cube.set_focus(4)">
        <input type="button" value="bot" onclick="cube.set_focus(5)"><br>
        <p>select face</p>
        <input type="button" value="FNT" onclick="gsid=0">
        <input type="button" value="BCK" onclick="gsid=1"><br>
        <input type="button" value="LFT" onclick="gsid=2">
        <input type="button" value="RGT" onclick="gsid=3"><br>
        <input type="button" value="TOP" onclick="gsid=4">
        <input type="button" value="BOT" onclick="gsid=5"><br>
        <p>rotate face</p>
        <input type="button" value="L" onclick="rotcube(0)">
        <input type="button" value="R" onclick="rotcube(1)"><br>
        <p>misc</p>
        <input type="button" value="scramble" onclick="scramble()"><br>
        <input type="button" value="reset" onclick="cube.regen()"><br>
        <input type="button" value="control scheme" onclick="show_controls()"><br>
        <div id="menu-back" class="backing" hidden>
            <div id="menu" class="menu-content">
                <div id="keybinds-back" class="backing" hidden>
                    <div id="keybinds" class="menu-content">
                        <input type="button" value="back" onclick="hide_keybinds()">
                    </div>
                </div>
                <input type="button" value="keybinds" onclick="show_keybinds()"><br><br>
                <input type="button" value="close" onclick="hide_controls()">
            </div>
        </div>
        <script>
            let t = false;
            const e = document.getElementById("global-cube-container");
            function make_block (faces, pos, rot) {
                if (t) {
                    return;
                }
                const cont = document.createElement("div");
                cont.className = "block";
                rot = rot === undefined ? [0, 0, 0] : rot;
                pos = pos === undefined ? [0, 0, 0] : pos;
                cont.style.cssText = `--rx:${rot[0]};--ry:${rot[1]};--rz:${rot[2]};--x:${pos[0]};--y:${pos[1]};--z:${pos[2]};`;
                const fd = {0:"green", 1:"blue", 2:"orange", 3:"red", 4:"white", 5:"yellow"};
                const fcd = ["front", "back", "right", "left", "top", "bot"];
                for (let i = 0; i < 6; i ++) {
                    const face = document.createElement("div");
                    face.className = `face ${fcd[i]} ${faces.includes(i) ? fd[i] : 'black'}`;
                    cont.appendChild(face);
                }
                e.appendChild(cont);
            }
            function set_test (index, value) {
                let lst = e.style.cssText.split(";");
                lst[index] = lst[index].split(":")[0] + ":" + value;
                e.style.cssText = lst.join(";");
            }
            function get_test (index) {
                let lst = e.style.cssText.split(";");
                return Number(lst[index].split(":")[1]);
            }
            function show_controls () {
                controls_back.hidden = false;
            }
            function hide_controls () {
                controls_back.hidden = true;
            }
            function show_keybinds () {
                keybinds_back.hidden = false;
            }
            function hide_keybinds () {
                keybinds_back.hidden = true;
            }
        </script>
        <script src="../assets/js/setup.js"></script>
        <script src="../assets/js/index.js"></script>
        <script>
            let ignore = true;
            let mousedown = false;
            let last = [null, null];
            e.addEventListener("mousedown", (e) => {
                last = [e.clientX, e.clientY];
                mousedown = true;
            });
            document.addEventListener("mouseup", (e) => {
                last = [null, null];
                mousedown = false;
            });
            e.addEventListener("mouseenter", (e) => {
                last = [e.clientX, e.clientY];
                ignore = false;
            });
            e.addEventListener("mouseleave", (e) => {
                ignore = true;
            });
            e.addEventListener("mousemove", (e) => {
                if (last[0] === null || !mousedown || ignore) {
                    return;
                }
                set_test(0, get_test(0)+last[1]-e.clientY);
                set_test(1, get_test(1)+e.clientX-last[0]);
                last = [e.clientX, e.clientY];
            });
            document.addEventListener("keydown", (e) => {
                const key = e.code.toString();
                switch (key) {
                    case "ArrowLeft":
                        rotcube(0);
                        break;
                    case "ArrowRight":
                        rotcube(1);
                        break;
                    case "Digit1":
                        gsid = 0;
                        break;
                    case "Digit2":
                        gsid = 1;
                        break;
                    case "Digit3":
                        gsid = 2;
                        break;
                    case "Digit4":
                        gsid = 3;
                        break;
                    case "Digit5":
                        gsid = 4;
                        break;
                    case "Digit6":
                        gsid = 5;
                        break;
                    default:
                        break;
                }
            });
        </script>
    </body>
</html>