<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/css/index.css" />
    </head>
    <body>
        <div id="global-cube-container" style="--x:-38;--y:62;--z:0;"></div>
        <!-- whole cube rotation controls -->
        <input type="range" min="-180" max="180" value="-38" oninput="set_test(0, this.value)"><br>
        <input type="range" min="-180" max="180" value="62" oninput="set_test(1, this.value)"><br>
        <input type="range" min="-180" max="180" value="0" oninput="set_test(2, this.value)"><br>
        <!-- test block rotation controls -->
        <!-- x -->
        <input type="range" min="0" max="360" value="0" step="90" oninput="set_test2(0, this.value)"><br>
        <!-- y -->
        <input type="range" min="0" max="360" value="0" step="90" oninput="set_test2(1, this.value)"><br>
        <!-- z -->
        <input type="range" min="0" max="360" value="0" step="90" oninput="set_test2(2, this.value)"><br>
        <!-- test block translation controls -->
        <!-- x -->
        <input type="range" min="0" max="200" value="200" step="100" oninput="set_test2(3, this.value)"><br>
        <!-- y -->
        <input type="range" min="0" max="200" value="0" step="100" oninput="set_test2(4, this.value)"><br>
        <!-- z -->
        <input type="range" min="-100" max="100" value="100" step="100" oninput="set_test2(5, this.value)"><br>
        <input type="button" value="none" onclick="cube.unfocus()"><br>
        <input type="button" value="front" onclick="cube.set_focus(0)">
        <input type="button" value="back" onclick="cube.set_focus(1)"><br>
        <input type="button" value="left" onclick="cube.set_focus(2)">
        <input type="button" value="right" onclick="cube.set_focus(3)"><br>
        <input type="button" value="top" onclick="cube.set_focus(4)">
        <input type="button" value="bot" onclick="cube.set_focus(5)"><br>
        <input type="button" value="FNT" onclick="gsid=0">
        <input type="button" value="BCK" onclick="gsid=1"><br>
        <input type="button" value="LFT" onclick="gsid=2">
        <input type="button" value="RGT" onclick="gsid=3"><br>
        <input type="button" value="TOP" onclick="gsid=4">
        <input type="button" value="BOT" onclick="gsid=5"><br>
        <input type="button" value="L" onclick="rotcube(0)">
        <input type="button" value="R" onclick="rotcube(1)"><br>
        <script>
            let t = false;
            const e = document.getElementById("global-cube-container");
            function make_block (faces, pos, rot) {
                if (t) {
                    return;
                }
                const cont = document.createElement("div");
                cont.className = "block";
                rot = rot === undefined ? [0, 0, 0] : rot;
                pos = pos === undefined ? [0, 0, 0] : pos;
                cont.style.cssText = `--rx:${rot[0]};--ry:${rot[1]};--rz:${rot[2]};--x:${pos[0]};--y:${pos[1]};--z:${pos[2]};`;
                const fd = {0:"green", 1:"blue", 2:"orange", 3:"red", 4:"white", 5:"yellow"};
                const fcd = ["front", "back", "right", "left", "top", "bot"];
                for (let i = 0; i < 6; i ++) {
                    const face = document.createElement("div");
                    face.className = `face ${fcd[i]} ${faces.includes(i) ? fd[i] : 'black'}`;
                    cont.appendChild(face);
                }
                e.appendChild(cont);
            }
            function set_test (index, value) {
                let lst = e.style.cssText.split(";");
                lst[index] = lst[index].split(":")[0] + ":" + value;
                e.style.cssText = lst.join(";");
            }
            function set_test2 (index, value) {
                let lst = e.children[0].style.cssText.split(";");
                lst[index] = lst[index].split(":")[0] + ":" + value;
                e.children[0].style.cssText = lst.join(";");
            }
            for (let i = 0; i < e.children.length; i ++) {
                const c = e.children[i];
                let l = c.style.cssText.split(";");
                let n = Number(l[5].split(":")[1]);
                // console.log(n);
                l[5] = l[5].split(":")[0] + ":" + (n-50);
                n = Number(l[4].split(":")[1]);
                l[4] = l[4].split(":")[0] + ":" + (n-200);
                n = Number(l[3].split(":")[1]);
                l[3] = l[3].split(":")[0] + ":" + (n-200);
                // console.log(l.join(";"));
                c.style.cssText = l.join(";");
            }
        </script>
        <script src="../assets/js/setup.js"></script>
        <script src="../assets/js/index.js"></script>
    </body>
</html>

<!-- <div id="white-green-orange" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:0;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="white-green" class="block" style="--rx:0;--ry:0;--rz:0;--x:100;--y:0;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left black"></div>
</div>
<div id="white-green-red" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:0;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="white-red" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:0;--z:-50">
    <div class="face front black"></div>
    <div class="face back black"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="white-red-blue" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:0;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="white-blue" class="block" style="--rx:0;--ry:0;--rz:0;--x:100;--y:0;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left black"></div>
</div>
<div id="white-blue-orange" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:0;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="white-orange" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:0;--z:-50">
    <div class="face front black"></div>
    <div class="face back black"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="white" class="block" style="--rx:0;--ry:0;--rz:0;--x:100;--y:0;--z:-50">
    <div class="face front black"></div>
    <div class="face back black"></div>
    <div class="face top white"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left black"></div>
</div>
<div id="green" class="block" style="--rx:0;--ry:0;--rz:0;--x:100;--y:100;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left black"></div>
</div>
<div id="green-yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:100;--y:200;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right black"></div>
    <div class="face left black"></div>
</div>
<div id="green-orange" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:100;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot black"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="green-red" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:100;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="green-red-yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:200;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="green-red-yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:200;--z:50">
    <div class="face front green"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="red" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:100;--z:-50">
    <div class="face front black"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="red-blue" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:100;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top black"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="red-yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:200;--z:-50">
    <div class="face front black"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="red-blue-yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:0;--y:200;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right black"></div>
    <div class="face left red"></div>
</div>
<div id="orange" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:100;--z:-50">
    <div class="face front black"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot black"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="orange-yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:200;--z:-50">
    <div class="face front black"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="orange-blue-yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:200;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="orange-blue" class="block" style="--rx:0;--ry:0;--rz:0;--x:200;--y:100;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top black"></div>
    <div class="face bot black"></div>
    <div class="face right orange"></div>
    <div class="face left black"></div>
</div>
<div id="blue" class="block" style="--rx:0;--ry:0;--rz:0;--x:100;--y:100;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top black"></div>
    <div class="face bot black"></div>
    <div class="face right black"></div>
    <div class="face left black"></div>
</div>
<div id="blue-yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:100;--y:200;--z:-150">
    <div class="face front black"></div>
    <div class="face back blue"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right black"></div>
    <div class="face left black"></div>
</div>
<div id="yellow" class="block" style="--rx:0;--ry:0;--rz:0;--x:100;--y:200;--z:-50">
    <div class="face front black"></div>
    <div class="face back black"></div>
    <div class="face top black"></div>
    <div class="face bot yellow"></div>
    <div class="face right black"></div>
    <div class="face left black"></div>
</div> -->