* {
    user-select : none;
}

#global-cube-container {
    position : absolute;
    width : 300px;
    height : 300px;
    perspective : 20000px;
    left : calc(50vw - 150px);
    top : calc(50vh - 150px);
    transform : rotateX(calc(var(--x) * 1deg)) rotateY(calc(var(--y) * 1deg)) rotateZ(calc(var(--z) * 1deg));
    transform-style : preserve-3d;
    background-color : #22222222;
}

.block {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 100px;
    height : 100px;
    transform : translate3d(calc(var(--x) * var(--0, 1) * 1px), calc(var(--y) * var(--o, 1) * 1px), calc(var(--z) * var(--o, 1) * 1px));
    backface-visibility : visible;
    transform-style : preserve-3d;
}

.block.hidden > .face {
    background-color : transparent !important;
}

.face {
    position : absolute;
    width : 100px;
    height : 100px;
    background-color : var(--color);
    border : solid black 2px;
}

.front {transform : translateZ(50px);}
.back {transform : rotateY(180deg) translateZ(50px);}
.right {transform: rotateY(90deg) translateZ(50px);}
.left {transform : rotateY(270deg) translateZ(50px);}
.top {transform : rotateX(90deg) translateZ(50px);}
.bot {transform : rotateX(270deg) translateZ(50px);}

.black {background-color : black;}
.white {background-color : gray;}
.green {background-color : lime;}
.blue {background-color : mediumblue;}
.red {background-color : red;}
.orange {background-color : orange;}
.yellow {background-color : yellow;}