#global-cube-container {
    position : absolute;
    width : 300px;
    height : 300px;
    perspective : 500px;
    perspective-origin : 50% 50%;
    left : 400px;
    top : 400px;
    /* transform-origin : 50% 50%; */
    transform : rotateX(calc(var(--x) * 1deg)) rotateY(calc(var(--y) * 1deg)) rotateZ(calc(var(--z) * 1deg));
    transform-style : preserve-3d;
}

.block {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 100px;
    height : 100px;
    transform : rotateX(calc(var(--rx) * 1deg)) rotateY(calc(var(--ry) * 1deg)) rotateZ(calc(var(--rz) * 1deg)) translateX(calc(var(--x) * 1px)) translateY(calc(var(--y) * 1px)) translateZ(calc(var(--z) * 1px));
    backface-visibility : visible;
    transform-style : preserve-3d;
    /* transform : rotate(315deg); */
}

.face {
    position : absolute;
    /* left : 0px;
    top : 0px; */
    width : 100px;
    height : 100px;
    background-color : var(--color);
    /* border : solid black 2px; */
    /* transform : rotateY(calc(var(--ry) * 1deg)) rotateZ(calc(var(--rz) * 1deg)) rotateX(calc(var(--rx) * 1deg)) translateZ(calc(var(--z) * 1px)); */
}

.front {transform : translateZ(50px);}
.back {transform : rotateY(180deg) translateZ(50px);}
.right {transform: rotateY(90deg) translateZ(50px);}
.left {transform : rotateY(270deg) translateZ(50px);}
.top {transform : rotateX(90deg) translateZ(50px);}
.bot {transform : rotateX(270deg) translateZ(50px);}

.black {background-color : black;}
.white {background-color : gray;}
.green {background-color : lime;}
.blue {background-color : mediumblue;}
.red {background-color : red;}
.orange {background-color : orange;}
.yellow {background-color : yellow;}